*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    padding-bottom: 200px;
}

/*------------------------------ NAV ------------------------------*/
@media (min-width:320px){
    .logo{
        margin-left: 50px;
        width: 200px;
    }

    .nav-container{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        height: 105px;
        background-color: white;
        opacity: .95;
    }

    .nav-main{
        display: flex;
        flex-direction: row;
        margin-right: 20px;

        ul{
            padding-right: 20px;
            list-style: none;
        }

        li{
            padding: 12px;
        }

        a{
            color: #42ab49;
            text-decoration: none;
        }
    }
}
@media (min-width:1024px){
    .logo{
        margin-left: 50px;
        width: 300px;
    }
    
    
}

/*------------------------------ Footer ------------------------------*/

@media (min-width:320px){
    .footer{
        height: 150px;
        width: 100%;
        background-color: rgb(83, 147, 168);
        position: absolute;
        bottom: 0;
        align-items: center;
    }

    .map-container{
        margin: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        width: 600px;
        height: 125px;
        margin-top: 5px;
        border-left: black solid 1px;
        border-right: black solid 1px;
    }

    .map{
        width: 400px;
        height: 100px;
    }

    .titulo-map{
        font-size: 12px;
        text-align: center;
    }
}

@media (min-width:1024px){
    
}

/*------------------------------ Home -----------------------------*/

@media (min-width:320px){

    .grid-container{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 300px;
        grid-gap: 15px;
        margin-top: 20px;
        width: 80%;
        margin: 30px auto;
        border-radius: 15px;
    }

    .grid-item{
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 1fr;
        height: 300px;
        border-radius: 10px;
        transition: 0.3s;
    }
/*
    #grid-item__1{
        background-color: blueviolet;
    }

    #grid-item__2{
        background-color: chartreuse;
    }

    #grid-item__3{
        background-color: chocolate;
    }

    #grid-item__4{
        background-color: cornflowerblue;
    }

    #grid-item__5{
        background-color: darkgreen;
    }
*/
    .titulo-grid{
        text-align: center;
        font-family: monospace;
        font-size: 16px;
        margin-top: 10px;
        color: lightblue;
    }

    .img-grid{
        height: 130px;
        width: 150px;
        border-radius: 10px;
        transition: 0.4s;
    }

    .grid-item:hover{
        
    }

    .text-grid{
        margin-top: 20px;
        text-align: center;
        font-size: 13px;
    }
}

@media (min-width:1024px){
    
}

/*------------------------------ Contacto -----------------------------*/

@media (min-width:320px){
    .container-contacto{
        display: flex;
        background-color: white;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 500px;
        width: 60%;
        margin: 100px auto;
    }

    .form__nombre{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 70px;
    }

    .form__empresa{
        display: flex;
        justify-content: space-around
        /*
        align-items: center;
        flex-direction: column;
        height: 70px;
        */
    }

    .form__telefono{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 70px;
    }

    .form__direccion{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 70px;
    }

    .form__email{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 70px;
    }
}

@media (min-width:1024px){
    
}