* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-image: url(img/fondo.jpg);
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  padding-bottom: 200px;
}

/*------------------------------ NAV ------------------------------*/
@media (min-width: 320px) {
  .logo {
    margin-left: 50px;
    width: 200px;
  }
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 105px;
    background-color: white;
    opacity: .95;
  }
  .nav-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 20px;
  }
  .nav-main ul {
    padding-right: 20px;
    list-style: none;
  }
  .nav-main li {
    padding: 12px;
  }
  .nav-main a {
    color: #42ab49;
    text-decoration: none;
  }
}

@media (min-width: 1024px) {
  .logo {
    margin-left: 50px;
    width: 300px;
  }
}

/*------------------------------ Footer ------------------------------*/
@media (min-width: 320px) {
  .footer {
    height: 150px;
    width: 100%;
    background-color: #5393a8;
    position: absolute;
    bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .map-container {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 600px;
    height: 125px;
    margin-top: 5px;
    border-left: black solid 1px;
    border-right: black solid 1px;
  }
  .map {
    width: 400px;
    height: 100px;
  }
  .titulo-map {
    font-size: 12px;
    text-align: center;
  }
}

/*------------------------------ Home -----------------------------*/
@media (min-width: 320px) {
  .grid-container {
    background-color: white;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: 300px;
        grid-template-rows: 300px;
    grid-gap: 20px;
    margin-top: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: 15px;
    border-radius: 15px;
    opacity: .93;
  }
  .grid-item {
    height: 260px;
    background-color: white;
    border-radius: 10px;
  }
  .titulo-grid {
    text-align: center;
    font-family: monospace;
    font-size: 16px;
    margin-top: 10px;
    color: lightblue;
  }
  .img-grid {
    height: 95px;
    width: 115px;
    margin-left: 11px;
    margin-top: 10px;
    border-radius: 10px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .img-grid:hover {
    width: 128px;
    height: 108px;
  }
  .text-grid {
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
  }
}

/*------------------------------ Contacto -----------------------------*/
@media (min-width: 320px) {
  .container-contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 500px;
    width: 60%;
    margin: 100px auto;
  }
  .form__nombre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 80px;
  }
  .form__empresa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 80px;
  }
  .form__telefono {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 80px;
  }
  .form__direccion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 80px;
  }
  .form__email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 80px;
  }
}
/*# sourceMappingURL=estilo.css.map */